<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849612745201-3fsegt4m6fvh45npgssiuv3hf9c91ago.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849612745201-3fsegt4m6fvh45npgssiuv3hf9c91ago</string>
	<key>API_KEY</key>
	<string>AIzaSyAWCiVKJtYVnFVfItJVFXttcXZxhniZjWU</string>
	<key>GCM_SENDER_ID</key>
	<string>849612745201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bridgelabz.MyChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-d1421</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-d1421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849612745201:ios:417599b3ec24de47fc7c50</string>
</dict>
</plist>